{% extends "bootstrap/base.html" %}
{% block styles %}
<link rel="stylesheet" href="../static/bootstrap.min.css">
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
     <ul class="nav navbar-nav">
         <li class="active"><a href="{{ url_for('main.index') }}">Home</a></li>
         <li class="active">
             {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.login') }}">sig out</a>
             {% else %}
                <a href="{{ url_for('main.logout') }}">sig in</a>
             {% endif %}
         </li>
     </ul>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
            </div>
        {% endfor %}
    {% block page_content %}{% endblock %}
    </div>

{% endblock %}
{% block scripts %}
    <script src="../static/jquery.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
{% endblock %}
